
*{
    /* color: blue; */

}

.red{
    color: red;
}
header{
    color: aliceblue;
    background-color:  rgb(118, 98, 74);
}
section.my.artical{
    color: aliceblue;
    background-color: rgb(118, 98, 74);
}
    
